<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Angular $index, $event, $log</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl as main">
      <!-- <div ng-repeat="car in main.cars.split(',')">
        {{$index + 1}}. {{car}}
      </div> -->
      <!-- <div class="button" ng-repeat="car in main.cars.split(',')" ng-click="ev = $event"> -->
      <div class="button" ng-repeat="car in main.cars.split(',')" ng-click="$log.debug($event)">
        {{$index + 1}}. {{car}}
        {{ev.pageX}}
      </div>
    </div>
  </body>
</html>
